@charset "UTF-8";

.back {
	width : 25px;
	height : 30px;
	position : absolute;
	top : 5px;
	border : 1px solid gray;
	padding : 3px 5px;
}

.title {
	margin : 10px auto;
	display : block;
	text-align : center;
}

.showList {
	float : right;
}

.showBtn {
	float : right;
}

.list {
	clear : both;
}
