

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

body {
	font-family: 'Freesentation-9Black';
	background-color : rgb(192, 192, 192);
	margin : 0;
}

.header {
	background-color : white;
	padding-left : 10px;
}

.header > img {
	width : 100vw;
	height : 40vh;
}

.subject h1 {
	margin-top : 0px;
	margin-bottom : 0px;
}

.subject {
	display : flex;
	justify-content : space-between;
	align-items : center;
}

.table {
	color : blue;
}

.minimum {
	color : gray;
}

.menu img {
	width : 100px;
	height : 100px;
}

.menuList {
	padding : 10px;
	background-color : white;
}

.menu {
	position : relative;
	border-bottom : 1px solid gray;
	margin-bottom : 5px;
	display : flex;
	justify-content : space-between;
}

.choice {
	position : absolute;
	right : 0px;
	width : 100px;
	height : 100px;
	color : blue;
	background-color : skyblue;
	font-size : 25px;
	text-align : center;
	line-height : 100px;
}

.choice:hover {
	background-color : blue;
	color : white;
}


.order img {
	width : 100px;
	height : 100px;
	position : fixed;
	bottom : 60px;
	right : 30px;
	background-color : rgb(192, 192, 192);
	border-radius : 70%;
}

.order .count {
	display : inline-block;
	width : 40px;
	height : 40px;
	position : fixed;
	bottom : 120px;
	right : 30px;
	border-radius : 70%;
	color : white;
	background-color : red;
	text-align : center;
	font-size : 25px;
	line-height : 40px;
}

/*
.order {
	position : fixed;
	bottom: 0px;
	left: 0px;
	width : 100%;
	height : 80px;
	text-align : center;
	background-color : rgb(255, 122, 122);
	line-height : 80px;
}

.order:hover {
	background-color : red;
	color : white;
}

.order span {
	font-size : 30px;
}

.order .count {
	display : inline-block;
	width : 40px;
	height : 40px;
	border : 2px solid white;
	position : fixed;
	bottom : 15px;
	line-height : 35px;
	border-radius : 20px;
	color : white;
}
*/