@charset "UTF-8";

.subject {
	display : flex;
}

.back {
	width : 25px;
	height : 30px;
	border : 1px solid gray;
	padding : 3px 5px;
	margin : 21px;
}


.info {
	color : red;
	height : 50px;
	width : 400px;
	border : 1px solid gray;
	margin : 20px;
	line-height : 50px;
}